body {
  background-color: #111827;
}

#content {
  width: 20em;
  margin: auto;
}

#gridContainer {
  background-color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  width: 20em;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.gridSquare {
  background-color: #9dbbe9;
  flex: none;
}

.btn {
  margin: 2em 0;
  background-color: #374151;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 8px;
}

#clearGrid {
  margin-right: 0.5em;
}
